version: "3.9"

x-airflow-common: &airflow-common
  build: .
  image: crypto-airflow:3.1.4
  environment:
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://crypto:crypto@postgres:5432/crypto
    AIRFLOW__API__AUTH_BACKENDS: airflow.api.auth.backend.simple
    AIRFLOW__WEBSERVER__SECRET_KEY: "local-dev-secret-key"
    AIRFLOW__LOGGING__BASE_LOG_FOLDER: /opt/airflow/logs
    AIRFLOW__LOGGING__REMOTE_LOGGING: "false"
    AIRFLOW__LOGGING__WORKER_LOG_SERVER_PORT: 8793
    PYTHONPATH: /opt/airflow
    PIP_REQUIREMENTS: /requirements.txt
    #_PIP_ADDITIONAL_REQUIREMENTS: "pyspark==3.5.1 scikit-learn requests"

  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./src:/opt/airflow/src
    - ./requirements.txt:/requirements.txt
    - ./jars:/opt/airflow/jars

  depends_on:
    - postgres

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: crypto
      POSTGRES_PASSWORD: crypto
      POSTGRES_DB: crypto
    ports:
      - "5432:5432"
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    command: >
      -c "airflow db migrate"
    restart: "no"

  # airflow-scheduler:
  #   <<: *airflow-common
  #   command: airflow scheduler
  #   ports:
  #   - "4040:4040"
  #   depends_on:
  #     airflow-init:
  #       condition: service_completed_successfully

  airflow-api-server:
    <<: *airflow-common
    command: >
      bash -c "
      airflow db migrate &&
      airflow scheduler &
      airflow serve-logs &
      airflow api-server
      "
    ports:
      - "8080:8080"
      - "4040:4040"
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  airflow-dag-processor:
    <<: *airflow-common
    container_name: airflow-dag-processor
    command: dag-processor
    depends_on:
      - airflow-api-server
  
  
  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: crypto-streamlit
    ports:
      - "8501:8501"
    volumes:
      - ./streamlit_app:/app/streamlit_app
      - ./src:/app/src
    depends_on:
      - postgres
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: Dockerfile.fastapi
    container_name: crypto-fastapi
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app/api
      - ./src:/app/src
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres-db-volume:
